*{
    margin: 0%;
    padding: 0px ;
    box-sizing: border-box;
}
.container{
     max-width: 80%;
     background-color: rgb(167, 135, 197);
     padding: 34px;
     margin: auto;
}
.container h1, p{
    text-align: center;

}
h1,p {
    font-size: 35px;
}
input, textarea{
   
    border: 2px solid black;
    display: block;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px auto;
    padding: 8px;
    font-size: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px;
    border-radius: 14px;
}